{
  "extends": [
    "standard",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "mocha-no-only",
    "promise"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "artifacts": "readonly",
    "contract": "readonly",
    "assert": "readonly",
    "web3": "readonly"
  },
  "rules": {
    "strict": ["error", "global"],
    "array-bracket-newline": ["warn", "consistent"],
    "array-bracket-spacing": ["warn", "never"],
    "array-element-newline": ["warn", "consistent"],
    "camelcase": ["error", { "properties": "always" }],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "dot-notation": ["warn", { "allowKeywords": true, "allowPattern": ""}],
    "eol-last": ["warn", "always"],
    "eqeqeq": ["error", "smart"],
    "indent": ["error", 2],
    "max-len": ["error", 140, 2],
    "no-control-regex": "off",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
    "no-redeclare": ["error", { "builtinGlobals": true }],
    "no-trailing-spaces": ["warn", { "skipBlankLines": false }],
    "no-undef": "error",
    "no-use-before-define": "off",
    "no-var": "error",
    "object-curly-spacing": ["warn", "always"],
    "prefer-const": "warn",
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"],
    "space-before-function-paren": ["warn", "always"],
    "mocha-no-only/mocha-no-only": ["error"],
    "promise/always-return": "off",
    "promise/avoid-new": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
